@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Specify the background image URL */
  --bg-image-url: url("https://images.unsplash.com/photo-1627693685101-687bf0eb1222?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1920&q=75");

  /* Set background properties */
  background-image: var(--bg-image-url);
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire element without stretching */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set root (html) height to full viewport height */
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Hide overflow to prevent scrolling */

  /* Create a semi-transparent overlay */
  position: relative;
  z-index: 1; /* Ensure the overlay is above the background image */
}

@media (prefers-color-scheme: dark) {
  :root {
        /* Modify colors for dark mode if needed */
  }
}

/* Apply semi-transparent overlay */
:root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16,33,54, 0.85); 
  z-index: -1; 
}


body {
  color: white;
  margin: 0; 
  height: 100vh; 
}